@import "base/normalize";
@import "base/vars";

html {
  font-size: 10px;
}

body {
  color: $color-black;
  font-family: $font-family;
  font-size: $font-size-normal;
  opacity: 1 !important;
  transition: opacity 0.174s ease-out;
  min-width: 420px;
}
