@import "../../../scss/base/vars";

.table {
  position: relative;
  display: block;

  &__group {
    position: relative;
    display: block;
    border: 1px solid $color-black;
    margin: 20px 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &-title {
      position: relative;
      display: block;
      padding: 10px;
      font-weight: bold;
      background-color: $color-gray;
      border-bottom: 1px solid $color-black;
    }

    &-content {
      position: relative;
      display: block;
    }
  }

  &__item {
    position: relative;
    display: block;
    border-bottom: 1px solid $color-black;
    background-color: $color-gray;

    &:last-child {
      border-bottom: none;
    }

    &.s-active {
      background-color: $color-light-gray;
    }
  }

  &__row {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    border-bottom: 1px solid $color-black;

    &:last-child {
      border-bottom: none;
    }
  }

  &__cell {
    position: relative;
    display: block;
    box-sizing: border-box;
    padding: 10px;
    border-right: 1px solid $color-black;

    &:last-child {
      border-right: none;
    }

    &.m-align-left {
      text-align: left;
    }

    &.m-align-center {
      text-align: center;
    }

    &.m-align-right {
      text-align: right;
    }
  }
}
