.attributes {
  position: relative;
  display: block;
  margin-bottom: 10px;

  &__group {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    margin: -10px;
  }

  &__item {
    position: relative;
    display: block;
    box-sizing: border-box;
    padding: 10px;

    &-label {
      font-weight: bold;
      margin-bottom: 4px;

      .m-inline & {
        display: inline;
        margin-bottom: 0;
      }
    }

    &-value {
      .m-inline & {
        display: inline;
        margin-left: 1em;
      }
    }
  }
}
