@import "../../../scss/base/vars";

.field-text {
  position: relative;
  display: block;

  &__input {
    position: relative;
    outline: 0 none;
    display: block;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    padding: 6px 10px;
    border: 1px solid $color-black;
    background-color: $color-gray;
    font-family: inherit;
    font-size: inherit;
    text-align: inherit;
    color: $color-black;

    .s-focused & {
      background-color: $color-white;
    }
  }
}
