@import "../../../scss/base/vars";

.similar {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  margin: -10px;

  &__item {
    position: relative;
    display: block;
    box-sizing: border-box;
    padding: 10px;

    &-icon {
      width: 60px;
      height: 60px;
      background-color: $color-dark-gray;
      margin-bottom: 4px;
    }
  }
}
