@import "../../../scss/base/vars";

.toolbar {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: -10px -20px 10px;

  &__grouping {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    margin: 10px 20px;

    &-title {
      font-weight: bold;
      padding: 6px 10px 6px 0;
      white-space: nowrap;
    }

    &-content {
      display: flex;
      flex-flow: row nowrap;
      margin: 0 -10px;
    }

    &-item {
      padding: 6px 10px;
      margin: 0 10px;
      border: 1px solid $color-black;
      background-color: $color-gray;
      cursor: pointer;

      &.s-active {
        background-color: #cc0000;
        color: $color-white;
      }
    }
  }

  &__sorting {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    margin: 10px 20px;

    &-title {
      font-weight: bold;
      padding: 6px 10px 6px 0;
      white-space: nowrap;
    }

    &-content {
      display: flex;
      flex-flow: row nowrap;
      margin: 0 -10px;
    }

    &-item {
      padding: 6px 10px;
      margin: 0 10px;
      border: 1px solid $color-black;
      background-color: $color-gray;
      cursor: pointer;

      &.s-active {
        background-color: #cc0000;
        color: $color-white;
        cursor: default;
      }
    }
  }

  &__searching {
    position: relative;
    display: block;
    margin: 10px 20px;
  }
}
