$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-normal: 12px;

$color-black: #000;
$color-white: #fff;
$color-red: #c00;
$color-gray: #ccc;
$color-dark-gray: #aaa;
$color-light-gray: #ddd;
